$black: #350303;
$white: whitesmoke;

$primary: #F2D1D6;
$secondary: #C6EBFB;
$tertiary: #4b1a19;
$primaryAccent: #B7382E;
$secondaryAccent: #ee7674;

$disabled: grey;

$danger: rgb(211, 113, 113);
$success: rgb(118, 180, 118);
